// STARTUP
// Sync environment across D-Bus and systemd user services immediately
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_RUNTIME_DIR" "XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "sh" "-c" "while ! busctl --user status org.gnome.Mutter.ScreenCast >/dev/null 2>&1; do sleep 0.2; done; pkill -f xdg-desktop-portal-gnome"
spawn-at-startup "iio-niri" "listen" "--monitor" "eDP-1"

// Clipboard manager
spawn-at-startup "copyq" "--start-server"

// Background background application initialization
spawn-at-startup "sh" "-c" "sleep 2 && brave --profile-directory=Default --no-startup-window"
spawn-at-startup "~/.local/scripts/toggle-theme"
spawn-at-startup "wvkbd-mobintl" "--hidden" "-L" "300" "-R" "25" "--bg" "1c1b1f" "--fg" "1c1b1f" "--fg-sp" "2b2930" "--text" "e6e1e5" "--text-sp" "e6e1e5" "--press" "d0bcff" "--press-sp" "d0bcff" "--alpha" "100" "--non-exclusive"
spawn-at-startup "~/.local/scripts/osk-tray.py"

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    GTK_USE_PORTAL "1" 
    XDG_CURRENT_DESKTOP "GNOME"
}

// MISCELLANEOUS
prefer-no-csd
clipboard {
    disable-primary // Turns off the middle click register
}

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

animations {
    // slowdown 3.0
}

// INPUTS
input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape,compose:rctrl"
        }
        repeat-delay 600
        repeat-rate 40
    }

    touchpad {
        // off
        tap
        natural-scroll
        scroll-factor 0.4
    }

    touch {
        map-to-output "eDP-1"
    }

    tablet {
        map-to-output "eDP-1"
    }
    mouse {
        // off
        // natural-scroll
        accel-speed 0.35
        // scroll-method "on-button-down"
        // scroll-button 274
        // scroll-button-lock
    }

    // focus-follows-mouse
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="10%"
}

// INCLUDES
include "dms/alttab.kdl"
include "dms/binds.kdl"
include "dms/colors.kdl"
include "dms/cursor.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/rules.kdl"
include "dms/wpblur.kdl"

// LAYOUT OVERRIDES
layout {
    preset-column-widths {
        proportion 0.5
        proportion 0.7
    }
    default-column-width { proportion 0.5; }
}