// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Output configuration.
// Run `niri msg outputs` to find the names of your outputs.
include "monitors.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
include "bindings.kdl"
include "windowrules.kdl"

// Autostart
spawn-at-startup "copyq" "--start-server"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "DISPLAY"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite"

// Input device configuration.
input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape,compose:rctrl"
        }
        repeat-delay 600
        repeat-rate 40
    }

    touchpad {
        // off
        tap
        natural-scroll
        scroll-factor 0.4
    }

    mouse {
        // off
        // natural-scroll
        accel-speed 0.35
    }

    // focus-follows-mouse
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="10%"
}

// Scratchpad Terminal
// spawn-at-startup "ghostty" "--class" "scratchpad"

// Screenshot path
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Animations
animations {
    // slowdown 3.0
}

// Window Rules
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id="firefox$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="scratchpad"
    open-on-workspace "scratchpad"
    open-floating true
    default-column-width { fixed 1000; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="com.github.hluk.copyq"
    open-floating true
}

window-rule {
    match app-id=r#"^(_crx_.*)$"#
    open-floating true
}

window-rule {
    match app-id="Spotify"
    open-on-workspace "9"
}

window-rule {
    match app-id="Cursor"
    open-on-workspace "1"
    opacity 0.9
}

window-rule {
    match app-id="Code"
    open-on-workspace "4"
    opacity 0.9
}

window-rule {
    match app-id="Antigravity"
    open-on-workspace "4"
    opacity 0.9
}

window-rule {
    match app-id="google-chrome"
    open-on-workspace "8"
}

window-rule {
    match app-id="brave-browser"
    open-on-workspace "7"
}

// Whatsapp Web
window-rule {
    match app-id=".*hnpfjngllnobngcgfapefoaidbinmjnm.*"
    open-on-workspace "5"
}

// Example: block out password managers from screen capture
// window-rule {
//     match app-id=r#"^org\.keepassxc\.KeePassXC$"#
//     block-out-from "screen-capture"
// }

// Named Workspaces (for scratchpad/persistent)
workspace "scratchpad"
