// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Autostart
spawn-at-startup "copyq" "--start-server"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "DISPLAY"
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "wl-paste" "--watch" "cliphist" "store"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "xwayland-satellite"

prefer-no-csd

// Scratchpad Terminal
// spawn-at-startup "ghostty" "--class" "scratchpad"


// Input device configuration.
input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape,compose:rctrl"
        }
        repeat-delay 600
        repeat-rate 40
    }

    touchpad {
        // off
        tap
        natural-scroll
        scroll-factor 0.4
    }

    touch {
        map-to-output "eDP-1"
    }

    tablet {
        map-to-output "eDP-1"
    }
    mouse {
        // off
        // natural-scroll
        accel-speed 0.35
    }

    // focus-follows-mouse
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="10%"
}

// Screenshot path
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

// Animations
animations {
    // slowdown 3.0
}

include "monitors.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/wpblur.kdl"
include "dms/alttab.kdl"
include "windowrules.kdl"
include "bindings.kdl"
