output "eDP-1" {
    mode "1920x1200@60.0"
    scale 1.5
    position x=7238 y=1080
}

output "DP-7" {
    mode "1920x1080@60.0"
    scale 1.0
    position x=4678 y=0
}

output "DP-8" {
    mode "1920x1080@60.0"
    scale 1.0
    position x=6598 y=0
}
