workspace "code" {
    open-on-output "Acer Technologies KA270 G0 14490A6233W01"
}
workspace "socials" {
    open-on-output "Acer Technologies KA270 G0 14490A6233W01"
}
workspace "media" {
    open-on-output "Acer Technologies KA270 G0 14490A6233W01"
}
workspace "browser" {
    open-on-output "PNP(BNQ) BenQ GW2283 WCL01584019"
}
workspace "music" {
    open-on-output "eDP-1"
}
workspace "draw" {
    open-on-output "eDP-1"
}
workspace "scratch" {
    open-on-output "PNP(BNQ) BenQ GW2283 WCL01584019"
}

window-rule {
    match title="Picture in picture"
    open-on-workspace "music"
    open-floating     true
}

// Scratch windows
window-rule {
    match app-id="chrome-gemini.google.com__app-Default"
    open-on-workspace     "scratch"
    open-focused          true
    default-column-width  { proportion 0.8; }
}

 window-rule {
     match app-id="com.mitchellh.ghostty"
     default-column-width  { proportion 0.7; }
//     open-on-workspace     "scratch"
}

// Clipboard
window-rule {
    match app-id=r#"(?i)copyq"#
    open-floating           true
    open-focused            true
    open-maximized          false
    open-maximized-to-edges false
    open-fullscreen         false
}

// Extension pop-ups
window-rule {
    // match app-id=r#"^chrome-.*$"#
    match title=r#".*[bB]itwarden"#
    open-floating           true
    open-maximized          false
    open-maximized-to-edges false
    open-fullscreen         false
    open-focused            true
    block-out-from          "screen-capture"
}

window-rule {
    match app-id="spotify"
    open-focused            true
    open-maximized          true
    open-maximized-to-edges false
    open-fullscreen         false
    open-on-workspace       "music"
}

window-rule {
    match app-id="cursor"
    open-on-workspace "code"
    open-focused      true
    open-maximized    true
    open-fullscreen   false
    opacity           0.98
}

window-rule {
    match app-id="Code"
    open-on-workspace "code"
    open-focused      true
    open-maximized    true
    open-fullscreen   false
    opacity           0.98
}

window-rule {
    match app-id="antigravity"
    open-on-workspace "code"
    open-focused      true
    open-maximized    true
    open-fullscreen   false
    opacity           0.98
}

window-rule {
    match app-id="google-chrome"
    open-focused      true
    open-maximized    true
    open-on-workspace "browser"
}

window-rule {
    match app-id="brave-browser"
    open-focused      true
    open-maximized    true
    open-on-workspace "browser"
}

window-rule {
    match title="OBS"
    open-on-output "eDP-1"
}

window-rule {
    match title="Krita"
    open-focused      true
    open-maximized    true
    open-on-workspace "draw"
}

window-rule {
    match app-id="obsidian"
    open-maximized    true
    open-on-workspace "projects"
}

// Whatsapp Web
window-rule {
    match app-id="chrome-web.whatsapp.com__-Default"
    open-focused      true
    open-on-workspace "socials"
    default-column-width { proportion 0.75; }
}

window-rule {
    match app-id="discord"
    open-focused      true
    open-maximized    true
    open-on-workspace "socials"
}