// KKN
//workspace "code" {
//    open-on-output "Acer Technologies KA270 G0 14490A6233W01"
//}
//workspace "browser" {
//    open-on-output "PNP(BNQ) BenQ GW2480 98P0346401Q"
//}
//workspace "scratch" {
//    open-on-output "PNP(BNQ) BenQ GW2480 98P0346401Q"
//}
//workspace "music" {
//    open-on-output "eDP-1"
//}
//workspace "draw" {
//    open-on-output "eDP-1"
//}
//workspace "media" {
//    open-on-output "Acer Technologies KA270 G0 14490A6233W01"
//}
// SN
workspace "code" {
    open-on-output "PNP(BNQ) BenQ GW2283 WCL01584019"
}
workspace "browser" {
    open-on-output "eDP-1"
}
workspace "scratch" {
    open-on-output "PNP(BNQ) BenQ GW2283 WCL01584019"
}
workspace "music" {
    open-on-output "eDP-1"
}
workspace "draw" {
    open-on-output "eDP-1"
}
workspace "media" {
    open-on-output "PNP(BNQ) BenQ GW2283 WCL01584019"
}

window-rule {
    // This empty match applies to all windows
    match {}

    opacity 0.8;
    background-effect {
        blur true;
        saturation 1.0;
        noise 0.06;
    }
}

// Scratch windows
window-rule {
    match app-id=r#"gemini\.google\.com"#

    open-on-workspace    "scratch"
    open-focused         true
    default-column-width { proportion 0.8; }
    opacity              0.90
    background-effect {
        blur true
    }
}

 window-rule {
    match app-id="com.mitchellh.ghostty"

    default-column-width  { proportion 0.7; }
    opacity               0.90
}

// Clipboard
window-rule {
    match app-id=r#"(?i)copyq"#

    open-floating         true
    open-focused          true
    default-column-width  { proportion 0.5; }
    default-window-height { proportion 0.8; }
    opacity               0.80
    background-effect {
        blur true;
        xray false;
    }
}


window-rule {
    match app-id=r#"[sS]potify"#

    open-on-workspace       "music"
    open-focused            true
    open-maximized          true
    open-maximized-to-edges false
    open-fullscreen         false
    opacity                 0.80
    background-effect {
        blur true
    }
}

// Code apps
window-rule {
    match app-id="cursor"
    match app-id="Code"
    match app-id="antigravity"

    open-on-workspace "code"
    open-focused      true
    open-maximized    true
    open-fullscreen   false
    opacity           0.90
}

window-rule {
    match title="OBS"

    open-on-output  "eDP-1"
    block-out-from  "screen-capture"
    opacity         1.0;
}

window-rule {
    match title="Krita"
    open-focused      true
    open-maximized    true
    open-on-workspace "draw"
    opacity           1.0;
}

window-rule {
    match app-id="obsidian"

    open-maximized    true
}

// Media apps
window-rule {
    match app-id="mpv"
    match app-id="org.gnome.Loupe"
    match app-id="brave-media-server.taile3ae02.ts.net__-Default"
    
    open-on-workspace "media"
    open-focused      true
    open-fullscreen   true
    opacity           1.0;
}

// Chat apps
window-rule {
    match app-id=r#".*-web\.whatsapp\.com__-.*"#
    match app-id="steam"
    match app-id="discord"

    open-on-workspace    "media"
    open-focused         true
    default-column-width { proportion 0.75; }
}

// Browsers
window-rule {
    match app-id="google-chrome"
    match app-id=r#"^brave$"#
    match app-id=r#"^brave-browser$"#
    match app-id="firefox"
    exclude title=r#"^Meet - .+$"#
    
    open-on-workspace "browser"
    open-focused      true
    open-maximized    true
    opacity           1.0;
}

// Floating windows
// Bitwarden pop-up
window-rule {
    match title=r#"^Bitwarden$"#
    // Initial title for Brave pop-up windows
    match title=r#"_crx_.*?"#

    open-floating         true
    default-column-width  { proportion 0.3; }
    default-window-height { proportion 0.8; }
    opacity               0.70
    background-effect {
        blur true
        xray false
    }
}

// Browser notifications (empty app-id and title)
window-rule {
    match app-id=r#"^$"# title=r#"^$"#

    open-floating             true
    open-focused              false
    default-floating-position x=32 y=32 relative-to="top-right"
}

window-rule {
    match app-id=r#"^brave(-browser)?$"# title=r#"^Meet - .+$"#
    match title="Picture in picture"
    match title="Picture-in-picture"

    open-on-output "eDP-1"
    open-floating     true
    default-window-height   { proportion 0.76; }
    default-column-width    { proportion 0.8; }
}

// Needs to be the last rule - should override default properties
window-rule {
    match is-floating=true

    open-focused   true
    block-out-from "screen-capture"
}

// Layer rules
layer-rule {
    match namespace="^notifications$"
    match namespace=r#"dms:.*"#
    block-out-from "screen-capture"
}